<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoxiansen.dao.BookDao">
    <select id="selectBooks" resultType="Book" parameterType="Book">
        SELECT * FROM tb_book
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="bookName != null">AND book_name = #{bookName}</if>
            <if test="picture != null">AND picture = #{picture}</if>
            <if test="price != null">AND price = #{price}</if>
            <if test="num != null">AND num = #{num}</if>
            <if test="sellState != null">AND sell_state = #{sellState}</if>
        </where>
    </select>
    <insert id="insertBook" parameterType="Book">
        INSERT INTO tb_book
            (book_name, picture, price, num, sell_state, sell_num)
        VALUES (#{bookName}, #{picture}, #{price}, #{num}, #{sellState}, #{sellNum});
    </insert>
    <update id="updateBook" parameterType="Book">
        UPDATE tb_book SET
        <set>
            <if test="bookName != null">AND book_name = #{bookName},</if>
            <if test="picture != null">AND picture = #{picture},</if>
            <if test="price != null">AND price = #{price},</if>
            <if test="num != null">AND num = #{num},</if>
            <if test="sellState != null">AND sell_state = #{sellState},</if>
            <if test="sellNum != null">AND sell_num = #{sellNum},</if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>