<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<form>
    <div class="form-inline form-group">
        <label for="bookName">名称：</label>
        <input class="form-control" name="bookName" id="bookName" placeholder="Name"/>
    </div>
    <div class="form-inline form-group">
        <label for="price">价格：</label>
        <input class="form-control" name="price" id="price" placeholder="price"/>
    </div>
    <div class="form-inline form-group">
        <label for="num">数量：</label>
        <input class="form-control" name="num" id="num" placeholder="num"/>
    </div>
    <div class="form-inline form-group">
        <label for="picture">图片地址：</label>
        <input class="form-control" name="picture" id="picture" placeholder="picture"/>
    </div>
    <div class="form-inline form-group">
        <label for="sellTime">开售时间：</label>
        <input class="form-control" name="sellTime" id="sellTime" placeholder="sellTime"/>
    </div>
    <button class="btn btn-success">提交</button>
</form>
</body>
</html>