<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  解决图片403问题  -->
    <meta name="referrer" content="no-referrer"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-table.min.css">
<!--    <link rel="stylesheet" href="/static/fontawesome/fontawesome.5-6-3.all.css">-->
    <title>图书列表</title>
</head>
<body>
<h1>图书列表</h1>
<table id="bookTable">
</table>
</body>
<script src="/static/jquery/jquery-3.3.1.min.js"></script>
<!--<script src="/static/bootstrap/popper.min.js"></script>-->
<script src="/static/bootstrap/bootstrap.min.js"></script>
<script src="/static/bootstrap/bootstrap-table.min.js"></script>
<script src="/static/bootstrap/bootstrap-table-zh-CN.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        reloadTable();
    });

    function reloadTable(param = '') {
        console.log('reloadTable>>>', param);
        $('#bookTable').bootstrapTable({
            url: '/book/list?' + param,
            pagination: true,
            search: false,
            locale: 'zh-CN',
            columns: [{
                field: 'index',
                title: '#',
                formatter: indexFormatter,
            }, {
                field: 'picture',
                title: '图片',
                formatter: pictureFormatter,
            }, {
                field: 'bookName',
                title: '书名',
            }, {
                field: 'price',
                title: '价格',
                sortable: true,
            }, {
                field: 'sellNum',
                title: '销量',
                sortable: true,
            }, {
                field: 'num',
                title: '库存',
                sortable: true,
            },]
        });
    }

    function pictureFormatter(value, row, index, field) {
        const img = document.createElement('img');
        img.setAttribute('src', value);
        img.setAttribute('alt', row['bookName']);
        img.setAttribute('height', '65');
        img.setAttribute('width', '48');
        return img.outerHTML;
    }

    function indexFormatter(value, row, index) {
        return index + 1;
    }
</script>
</html>