<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  解决图片403问题  -->
    <meta name="referrer" content="no-referrer"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/jqueryToast/css/toast.style.css">
    <title>图书展示</title>
    <style>
        .picture {
            width: 100%;
        }

        .pictureDiv {
            width: 30%;
        }

        .descDiv {
            width: 70%;
            float: left;
        }
    </style>
</head>
<body>
<div class="row mx-5">
    <div th:each="book : ${bookList}" class="col-3 my-3">
        <div class="float-left pictureDiv">
            <img src="#" alt="..."
                 th:attr="src=${book.picture},alt=${book.bookName}" class="picture"/>
        </div>
        <div class="float-left descDiv pl-3">
            <strong th:text="${book.bookName}"></strong>
            <p th:text="|价格: ￥${book.price}|"></p>
            <button th:if="${book.num>0}" class="btn btn-primary"
                    th:onclick="|purchase(${book.id},this)|">购买
            </button>
            <button th:if="${book.num<=0}" class="btn btn-dark" disabled="disabled"
                    th:onclick="|purchase(${book.id},this)|">库存不足
            </button>

        </div>
    </div>
</div>
<script src="/static/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/jqueryToast/js/toast.script.js"></script>
<script type="application/javascript">
    function purchase(id, self) {
        console.log(id);
        $.getJSON('/book/purchase', {id: id,}, (res) => {
            console.log(res);
            /*设置按钮样式*/
            reloadBtn(res.data, self);
            if (res.code === 0) {
                $.Toast('', '购买成功', 'success', {
                    stack: true,
                    position_class: 'toast-top-right',
                    timeout: 1000,
                    has_icon: false,
                });
            } else {
                $.Toast('', res.message, 'error', {
                    stack: true,
                    position_class: 'toast-top-right',
                    timeout: 2000,
                    has_icon: false,
                });
            }
        });
    }

    function reloadBtn(num, self) {
        const $self = $(self);
        /*检查剩余数量是否是0*/
        console.log($self);
        if (num <= 0) {
            $self.html('库存不足');
            $self.removeClass('btn-primary');
            $self.addClass('btn-dark');
            $self.attr('disabled', 'disabled');
        }
    }
</script>
</body>
</html>